{% extends 'RGVSiteBundle:Templates:error.html.twig' %}

{% block page_title %} - Pagina no encontrada{% endblock %}

{% block page_body %}

    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Ups, pagina no encontrada</h1>
                        <p>Error 404</p>
                        <p>
                            La pagina solicitada no se ha podido localizada.<br/>
                            <a href="{{ path('rgv_site_homepage') }}">Volver a la pagina principal</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}